a:link {
    color: #ffffff;
    text-decoration: none;
}
a:visited {
    color: #ffffff;
}
a:hover {
    color: #ffffff;
}
a:active {
    color: #ff4040;
    text-decoration: none;
    font-weight: normal;
}

div#dice-box.active:hover {
    background: #282c34;
}

div#dice-box canvas {
    width: 100%;
    height: 100%;
}

button.MuiButton-root {
    text-transform: none;
    border-radius: 10px;
    color: white;
}

button.MuiButton-root p {
    margin: 0;
    display: inline;
}

button.MuiButton-root p.orange {
    border-bottom: 2px solid #ff8200;
}

button.MuiButton-root p.purple {
    border-bottom: 2px solid #a970ff;
}

button.MuiButton-root p.blue {
    border-bottom: 2px solid #0077ff;
}

button.MuiButton-root p.green {
    border-bottom: 2px solid #2fb350;
}

button.MuiButton-root p.red {
    border-bottom: 2px solid #ff3b30;
}

button.MuiButton-root p.brown {
    border-bottom: 2px solid #a2845e;
}
