a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}

div#dice-box canvas {
  width: 100%;
  height: 100%;
}

button.MuiButton-root {
  text-transform: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
}

button.MuiButton-root p {
  margin: 0;
  display: inline;
}

.MuiDialogTitle-root {
  background-color: #222222;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.MuiDialogActions-root {
  background-color: #222222;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.MuiDialogContent-root {
  background-color: #222222;
}

div.MuiDialog-paper {
  border-radius: 20px;
}

div.MuiOutlinedInput-root {
  border: 2px solid #414141;
  border-radius: 10px;
}

div.MuiOutlinedInput-root > fieldset {
  border: none;
}

label.MuiInputLabel-shrink {
  display: none;
}

div.MuiAccordionSummary-root {
  &:hover {
    background-color: #2f2f2f;
  }
}

th.MuiTableCell-head {
  padding-bottom: 5px;
  line-height: 1;
  font-size: 16px;
  font-weight: 500;
}

td.MuiTableCell-root {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 1;
  font-size: 16px;
  font-weight: 500;
  border: 0;
}

thead > tr.MuiTableRow-root > th {
  padding-top: 0;
  border-bottom: 0;
}

tbody > tr.MuiTableRow-root {
  vertical-align: top;
  border: 0;
}

tbody > tr.MuiTableRow-root > td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

tbody > tr.MuiTableRow-root > td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

span.MuiRating-root {
  align-self: center;
}

div.Mui-focused {
  border: 2px solid #007aff;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 6px; /* for vertical scrollbar */
  height: 6px; /* for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
  border-radius: 20px; /* roundness of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #007aff; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}


/* Firefox-only styles */
@-moz-document url-prefix() {
  * {
    scrollbar-color: #007aff #0c0c0c;
  }
}

* {
  scrollbar-width: auto; /* Makes the scrollbar thinner */
  /* scrollbar-color: #007aff #0c0c0c;*/
}

span.MuiSlider-mark {
  display: none;
}

span.MuiSlider-thumb:active {
  box-shadow: none;
}

div.MuiInputBase-root > input {
  padding: 0px;
  font-weight: 500;
}

/* Autocomplete dropdown */

div.MuiAutocomplete-inputRoot {
  padding: 0px !important;
}

div.MuiAutocomplete-root > div.MuiTextField-root {
  padding: 0px !important;
}

div.MuiAutocomplete-inputRoot > input {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 14px !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}

div.MuiAutocomplete-root {
  border: none;
}

ul.MuiAutocomplete-listbox {
  font-weight: 500;
}

div.MuiAutocomplete-popper.MuiPopper-root {
  padding: 0;
  padding-bottom: 3px;
  border: 2px solid #007aff;
  border-radius: 10px;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-top: none;
}

div.MuiAutocomplete-popper.MuiPopper-root > div.MuiPaper-elevation > ul {
  padding: 0;
  background-color: #222222;
}

div.MuiAutocomplete-root.Mui-expanded.has-options > div > div.MuiAutocomplete-inputRoot.Mui-focused {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

/* Select dropdown */

div.CustomSelect {
  border: none;
}

div.CustomSelect > div.MuiSelect-select {
  border: 2px solid #414141;
  border-radius: 10px;
}

div.Mui-focused.CustomSelect > div.MuiSelect-select {
  border: 2px solid #007aff;
  border-radius: 10px;
}

div.MuiInputBase-root > div.MuiSelect-select[aria-expanded='true'] {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

div.MuiPaper-root.MuiPopover-paper.MuiMenu-paper {
  border: 2px solid #007aff;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-top: none;
}

div.MuiPaper-root.MuiPopover-paper.MuiMenu-paper > ul {
  padding: 0px;
  background-color: #222222;
}

/* Search bar */

div.MuiOutlinedInput-root.customSearch {
  border: 2px solid #222222;
  border-radius: 10px;
}
