a:link {
    color: #ffffff;
}
a:visited {
    color: #ffffff;
}
a:hover {
    color: #ffffff;
}
a:active {
    color: #ff4040;
    text-decoration: none;
    font-weight: normal;
}

div#dice-box.active:hover {
    background: #282c34;
}

div#dice-box canvas {
    width: 100%;
    height: 100%;
}
